@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .bl{
    border-radius: 10px 0 0 10px;
  }
  .br{
    border-radius: 0 10px 10px 0;
  }
  .darken-overlay {
    position: relative;
  }
  
  .darken-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay color */
    mix-blend-mode: multiply; /* Multiply blend mode to darken */
  }
}
